/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#define ITP (1)
#define NAV (2)
#define NUM (3)
#define MCR (4)

/ {
    #include "shortcut_macros.dtsi"
    #include "nav_macros.dtsi"
    
    conditional_layers {
        compatible = "zmk,conditional-layers";
        func_layer {
            if-layers = <NAV ITP>;
            then-layer = <NUM>;
        };
    };
    
    behaviors {
        hrm: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&kp>, <&kp>;
            display-name = "Homerow-mod";
            hold-trigger-on-release;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <110>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        

        
        default_layer {
            bindings = <
                &none        &none       &none       &none        &none       &none     &none        &none       &none       &none
                &kp Q        &kp W       &kp E       &kp R        &kp T       &kp Y     &kp U        &kp I       &kp O       &kp P
                &hrm LCTRL A &hrm LCMD S &hrm LALT D &kp F        &kp G       &kp H     &kp J        &hrm RALT K &hrm RCMD L &hrm RCTRL SEMI
                &kp Z        &kp X       &kp C       &kp V        &kp B       &kp N     &kp M        &kp COMMA   &kp DOT     &kp DQT
                             &none       &kp LSHFT   &mo NAV      &kp ENTER   &kp SPACE &mo ITP      &kp BSPC    &none
                             &none       &none       &none        &none       &none     &none        &none       &none
           >;
        };

        interp_layer {
            bindings = <
                &none     &none     &none    &none     &none       &none     &none     &none    &none    &none
                &kp TAB   &kp LBKT  &kp LPAR &kp PLUS  &kp PRCNT   &kp AMPS  &kp MINUS &kp RPAR &kp RBKT &none
                &kp EQUAL &kp GRAVE &kp LBRC &kp ASTRK &kp DLLR    &kp AT    &kp UNDER &kp RBRC &kp BSLH &kp FSLH
                &kp COLON &kp LT    &kp HASH &kp EXCL  &kp TILDE   &kp CARET &kp QMARK &kp PIPE &kp GT   &kp SQT
                          &none     &trans   &kp DEL   &kp ESC     &trans    &trans    &trans   &none
                          &none     &none    &none     &none       &none     &none     &none   &none
           >;
        };
        
        nav_layer {
            bindings = <
                &none    &none    &none    &none    &none      &none     &none    &none    &none   &none
                &l_sel_l &w_sel_l &w_sel_r &l_sel_r &none      &none     &none    &none    &none   &none
                &l_mov_l &w_mov_l &w_mov_r &l_mov_r &none      &kp PG_UP &kp LEFT &kp DOWN &kp UP  &kp RIGHT
                &l_del_l &w_del_l &w_del_r &l_del_r &kp LSHFT  &kp PG_DN &none    &none    &none   &none
                         &none    &none    &trans   &trans     &trans    &kp DEL  &kp BSPC &none
                         &none    &none    &none    &none      &none     &none    &none    &none
           >;
        };

        number_layer {
            bindings = <
                &none  &none  &none  &none     &none     &none  &none   &none  &none  &none
                &kp F1 &kp F2 &kp F3 &kp F4    &kp F5    &kp F6 &kp F7  &kp F8 &kp F9 &kp F10
                &kp N1 &kp N2 &kp N3 &kp N4    &kp N5    &kp N6 &kp N7  &kp N8 &kp N9 &kp N0
                &none  &none  &none  &kp F11   &none     &none  &kp F12 &none  &none  &none
                       &none  &none  &trans    &trans    &trans &trans  &none  &none
                       &none  &none  &none     &none     &none  &none   &none  &none
           >;
        };
        
        macro_layer {
            bindings = <
                &none  &none  &none  &none     &none     &none  &none   &none  &none  &none
                &kp F1 &kp F2 &kp F3 &kp F4    &kp F5    &kp F6 &kp F7  &kp F8 &kp F9 &kp F10
                &kp N1 &kp N2 &kp N3 &kp N4    &kp N5    &kp N6 &kp N7  &kp N8 &kp N9 &kp N0
                &none  &none  &none  &kp F11   &none     &none  &kp F12 &none  &none  &none
                       &none  &none  &trans    &trans    &trans &none   &none  &none
                       &none  &none  &none     &none     &none  &none   &none  &none
           >;
        };
        //
        //    sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
};
